################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TreeSeparation/TreeSeparation.VC.VC.opendb
